@import url(popup-dark.css);

.body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --bg-color: #010002fa;
    --txt-color: #ffffff;
}

.experiences {
    padding: 5rem;
}

.container {
    padding: 5rem;
    text-align: center;
}

.others {
    padding: 5rem;
}

#stack {
    padding-right: 0.9rem;
}

.techs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    /*flex-wrap: wrap;*/
    /*overflow: auto;
    line-height: 1.5;*/
}

.break ul {
    list-style: none;
}

.break {
    flex-basis: 100%;
}

.techs ul img {
    border-radius: 50%;
}

#rodape-foot, #footer-links, #rodape, footer {
    user-select: none;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

.popup {
    background-color: var(--bg-color);
}
