:root {
    --color-scheme: dark;
    --bg-color: #010e25e0;
    --text-color: #ffffff;
}

.body-main {
    background: var(--bg-color);
    color-scheme: var(--color-scheme);
    color: var(--text-color);
    font-size: 15pt;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h2 {
    font-size: 1em;
    padding: 5vw;
}

.nav-links-styler a {
    color: #fff;
    text-align: center;
}

.dc-status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.dc-card {
    display: inline-block;
}

.en-idiom {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.en-idiom:hover{    
    color: #fff;
    text-decoration: underline;
}

.pt-idiom {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.pt-idiom:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-basic {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15pt;
}

.footer-basic ul {
    list-style: none;
}

.bio {
    display: flex;
    padding: 5vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.break h2 {
    padding-left: 1vw;
    padding: 1vw;
}